.scoreboard {
  display: grid;
  text-align: center;
  grid-template-columns: 3fr 2fr 2fr 3fr;

  &__logo {
    width: 6rem;
    margin: 0 2rem;
  }

  &__team {
    font-size: $font-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__score {
    color: $purple;
    font-size: $font-xlarge;
  }

  &__losing {
    opacity: 0.7;
  }
}
