// Colors
$grey: rgb(240, 243, 247);
$medium-grey: rgb(223, 227, 232);
$darkBlue: rgb(14, 2, 87);
$navyBlue: rgb(10, 12, 49);
$purple: rgb(21, 5, 120);
$purpleBlue: rgb(27, 31, 120);
$skyBlue: rgb(0, 159, 253);
$white: rgb(255, 255, 255);
$yellowOrange: rgb(255, 174, 66);

// Font sizes
$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2.2rem;
$font-xlarge: 4.8rem;

// Spacing
$padding-small: 1rem;
$padding-medium: 1.6rem;
$padding-large: 2rem;

//Transitions
$opacity: opacity 175ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
